<div class="login-wrapper">
  <div class="login-container">
    <div class="login-split">
      <div class="login-logo">
         <img src="https://i.ibb.co/60tZqhHs/logo-oficina-admision.png" alt="USMP Logo" style="width: 100%; height: 100%; max-width: 500px; object-fit: contain;">
      </div>
      <div class="login-form">
        <h1>INICIAR SESIÓN</h1>
        <div class="form-group">
          <label>Usuario</label>
          <input [(ngModel)]="loginData.usuario" placeholder="Ingrese su usuario" />
        </div>
        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" [(ngModel)]="loginData.contrasena" placeholder="Ingrese su contraseña" />
        </div>
        <button (click)="onLogin()" [disabled]="cargando">Iniciar Sesión</button>
        <p *ngIf="error" class="error">{{ error }}</p>
      </div>
    </div>
  </div>
</div>